.card {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 1rem;
  padding: 1.25rem;
  gap: 0.5rem;
}

.card_link {
  width: 100%;
  height: fit-content;
  text-decoration: none;
  color: black;
}

.card:has(.card_link:hover) {
  box-shadow: rgba(211, 197, 3, 0.986) 0px 5px 15px;
}

picture {
  display: block;
  width: 100%;
  height: 200px;
}

.card_body {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.item_img {
  object-fit: cover;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.item_title {
  font-weight: bold;
  font-size: 1.25rem;
}
